<div style="width: 100%; margin-top: 10px; margin-bottom: 8px;">
<strong style="font-size: 90%; text-align: center;">- OR CHOOSE -</strong> 
</div>
<a href="<%= paypal_checkout_order_url order %>" style="text-align: center;">
  <img src="https://www.paypal.com/en_GB/GB/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;"/>
</a>
