<div style="width: 100%; height: 4px;"> &nbsp; </div>
<a href="<%= paypal_checkout_order_url order %>" style="float: right;">
  <img src="https://www.paypal.com/en_GB/GB/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;"/>
</a>
<strong style="font-size: 90%; text-align: center; padding: 5px;">OR&nbsp;<br/>CHOOSE</strong> 
